%TMPL:INCLUDE{"foswiki"}%

%TMPL:DEF{"script"}%
%TMPL:PREV%
%ADDTOZONE{
	"script"
	id = "newsWikiScript" 
	text = "
	<literal>
		<script type='text/javascript' src='%PUBURLPATH%/System/%NEWSWEB%/js/news.js'></script>
	</literal>
"
}%
%TMPL:END%

%TMPL:DEF{"head"}%
%TMPL:PREV%
%ADDTOZONE{
        "head"
        id = "newsWikiCSS"
        text = "
        <literal>
                <link rel='stylesheet' href='%PUBURLPATH%/System/%NEWSWEB%/css/news.css' />
		<link rel='stylesheet' href='%PUBURLPATH%/System/%NEWSWEB%/css/font-awesome-4.4.0/css/font-awesome.css' />
	</literal>
"
}%
%TMPL:END%

%TMPL:DEF{"main"}%
%TMPL:PREV%

<div id="rightBarWrapper">
	<div class="rightBarClose"><i class="fa fa-chevron-right"></i></div>
   	<!-- <div style="background-image: url('%PUBURLPATH%/System/%NEWSWEB%/img/close.png')" class="rightBarClose"></div> -->
   	<section class="newsHeader">Aktuelles aus der Organisation</section>
   	<div class="modacRightBar">
%INCLUDE{"%NEWSWEBNAME%.WebRightBar"}%
   	</div>
   	<div id="rightBarControl">

		<div title="New News" id="linkNewNews"><a class="newsTopIconLinks" href="%SCRIPTURL{edit}%/%NEWSWEBNAME%/NewsAUTOINC000?templatetopic=%NEWSWEBNAME%.NewsTemplate;formtemplate=NewsForm;t=%GMTIME{$epoch}%"><i class="fa fa-plus-circle"></i></a></div>
		<div title="home" id="linkHome"><a class="newsTopIconLinks" href="%SCRIPTURL{view}%/%NEWSWEBNAME%/WebHome"><i class="fa fa-home"></i></a></div>
		<div title="Workflow" id="linkArchiv"><a class="newsTopIconLinks" href="%SCRIPTURL{view}%/%NEWSWEBNAME%/Overview"><i class="fa fa-refresh"></i></a></div>
	</div>
</div>

%TMPL:END%

